.hero {
  padding: 19.3rem 0;
  max-width: 140rem;
  margin: 0 auto;
}
.hero-text {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-description {
  font-size: 2.4rem;
  width: 50%;
  margin-bottom: 3rem;
  line-height: 1.6;
}
.hero-img {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.hero-img img {
  width: 96%;
}
.hero-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
}
.hero-stats-communities span {
  display: block;
  font-size: 12.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.hero-stats-description {
  text-align: center;
  font-size: 3rem;
  color: var(--gray);
}
.hero-stats-messages span {
  display: block;
  font-size: 12.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.promo-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;
}
.promo-block-left {
  width: 65%;
}
.promo-block-description {
  font-size: 1.6rem;
  line-height: 1.6;
  width: 60%;
}
.promo-block-right {
  width: 70%;
}
.promo-block-right img {
  width: 100%;
}

.section-ready {
  padding: 9.6rem 0;
  text-align: center;
}

.footer {
  background-color: var(--verydarkcyan);
  padding: 9.6rem 0;
  color: white;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30rem;
}
.footer-logo {
  margin-bottom: 3rem;
}
.footer-left {
  flex: 1;
}
.footer-left img {
  filter: brightness(0) invert(1);
}
.footer-description {
  line-height: 1.6;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  width: 48%;
}
.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-list-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
}
.footer-right {
  flex: 1;
}
.footer-cta {
  display: flex;
  gap: 5rem;
}
.footer-cta-text {
  display: inline-block;
  padding: 1.2rem 1.2rem;
  width: 60%;
  border-radius: 5px;
  border: none;
}
.footer-cta-btn {
  display: inline-block;
  width: 30%;
  border-radius: 5px;
  background-color: var(--pink);
  border: none;
  color: inherit;
}
.footer-social {
  margin-top: 8rem;
  display: flex;
  gap: 3rem;
}

.icon {
  height: 4.2rem;
  width: 4.2rem;
}

.primary-heading {
  font-size: 6.4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.secondary-heading {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.tertiary-heading {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.container {
  max-width: 170rem;
  margin: 0 auto;
}

.btn {
  padding: 3rem 4rem;
  width: 28%;
  border: none;
  background-color: var(--pink);
  border-radius: 100px;
  color: white;
  font-weight: 600;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.185);
  font-size: 2rem;
}

.bg-btm1,
.bg-btm2,
.bg-top1,
.bg-top2,
.bg-foot {
  width: 100%;
  height: 20rem;
  background-size: cover;
}

.bg-top1 {
  background-image: url("/images/bg-section-top-desktop-1.svg");
}

.bg-btm1 {
  background-image: url("/images/bg-section-bottom-desktop-1.svg");
  margin-bottom: 10rem;
}

.bg-top2 {
  margin-top: 10rem;
  background-image: url("/images/bg-section-top-desktop-2.svg");
}

.bg-btm2 {
  background-image: url("/images/bg-section-bottom-desktop-2.svg");
}

.bg {
  background-color: var(--verypaleblue);
}

.bg-foot {
  background-image: url("/images/bg-footer-top-desktop.svg");
}

@media only screen and (max-width: 58em) {
  .container {
    max-width: 90rem;
  }
  .hero-description {
    width: 75%;
  }
  .btn {
    width: 75%;
  }
  .promo-block {
    gap: 10rem;
  }
  .promo-block-description {
    width: 80%;
  }
  .footer-block {
    gap: 20rem;
  }
  .footer-description {
    width: 75%;
  }
}
@media only screen and (max-width: 54em) {
  html {
    font-size: 50% !important;
  }
}
@media only screen and (max-width: 38em) {
  html {
    font-size: 50% !important;
  }
  span {
    font-size: 8rem !important;
  }
  .footer-block {
    gap: 5rem;
  }
}
@media only screen and (max-width: 28em) {
  .container {
    max-width: 45rem;
  }
  .nav img {
    width: 80%;
  }
  .nav-btn {
    padding: 0 !important;
    width: 50%;
    height: 4rem;
  }
  .primary-heading {
    font-size: 5rem;
  }
  .hero-stats {
    flex-direction: column;
    gap: 10rem;
  }
  .hero-stats-communities {
    text-align: center;
  }
  .hero-stats-messages {
    text-align: center;
  }
  .promo-block {
    flex-direction: column;
  }
  .promo-block-right {
    order: 1;
  }
  .promo-block-left {
    order: 2;
    text-align: center;
    width: 100%;
  }
  .promo-block-description {
    width: 100%;
  }
  .footer-block {
    flex-direction: column;
    gap: 10rem;
  }
  .footer-left {
    order: 2;
  }
  .footer-description {
    width: 100%;
  }
  .footer-cta {
    flex-direction: column;
    gap: 2rem;
  }
  .footer-cta-text {
    width: 75%;
  }
  .footer-cta-btn {
    width: 75%;
    padding: 1.2rem 1.2rem;
  }
}
:root {
  --pink: hsl(322, 100%, 66%);
  --lightpink: hsl(321, 100%, 78%);
  --lightred: hsl(0, 100%, 63%);
  --verydarkcyan: hsl(192, 100%, 9%);
  --verypaleblue: hsl(207, 100%, 98%);
  --gray: #777;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}
.nav-btn {
  padding: 1.2rem 3.6rem;
  border: 1.5px solid var(--pink);
  border-radius: 100px;
  background-color: white;
  color: var(--pink);
  cursor: pointer;
  box-shadow: 0 1px 2px var(--lightpink);
}