//HERO SECTION
.hero {
  padding: 19.3rem 0;
  max-width: 140rem;
  margin: 0 auto;
  &-text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-description {
    font-size: 2.4rem;
    width: 50%;
    margin-bottom: 3rem;
    line-height: 1.6;
  }
  &-img {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    img {
      width: 96%;
    }
  }
  &-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    &-communities {
      span {
        display: block;
        font-size: 12.8rem;
        font-weight: 700;
        margin-bottom: 3rem;
      }
    }
    &-description {
      text-align: center;
      font-size: 3rem;
      color: var(--gray);
    }

    &-messages {
      span {
        display: block;
        font-size: 12.8rem;
        font-weight: 700;
        margin-bottom: 3rem;
      }
    }
  }
}

//SECTION PROMO
.promo {
  &-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
    &-left {
      width: 65%;
    }
    &-description {
      font-size: 1.6rem;
      line-height: 1.6;
      width: 60%;
    }

    &-right {
      width: 70%;
      img {
        width: 100%;
      }
    }
  }
}

//SECTION READY
.section-ready {
  padding: 9.6rem 0;
  text-align: center;
}

//SECTION FOOTER
.footer {
  background-color: var(--verydarkcyan);
  padding: 9.6rem 0;
  color: white;
  &-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
  }
  &-logo {
    margin-bottom: 3rem;
  }
  &-left {
    flex: 1;
    img {
      filter: brightness(0) invert(1);
    }
  }
  &-description {
    line-height: 1.6;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    width: 48%;
  }
  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-item {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1.4rem;
    }
  }

  &-right {
    flex: 1;
  }

  &-cta {
    display: flex;
    gap: 5rem;
    &-text {
      display: inline-block;
      padding: 1.2rem 1.2rem;
      width: 60%;
      border-radius: 5px;
      border: none;
    }

    &-btn {
      display: inline-block;
      width: 30%;
      border-radius: 5px;
      background-color: var(--pink);
      border: none;
      color: inherit;
    }
  }

  &-social {
    margin-top: 8rem;
    display: flex;
    gap: 3rem;
  }
}
.icon {
  height: 4.2rem;
  width: 4.2rem;
}
